body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input, select{
  border: none;
  border-bottom: 1px solid black !important;
}
input{
  border-color: black !important;
  border-bottom-color: black !important;
  /* #dd3675, #b44593 */
}
section:focus{
  outline: none;
  border: none;
}
label{
  color: black !important;
}
.btn{
  color: white !important
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#lists:hover{
  background-color: red;
  color: white;
}